<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Menu familiar</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide fxShow.gt-sm>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/horario/horario-de-comida">Horarios de comida</a>
      </li>
      <li>
        <a routerLink="/account">Account Actions</a>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide fxShow.lt-md>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-list-item [routerLink]="['/hora']" routerLinkActive="router-link-active">
          <mat-icon>assignment_ind</mat-icon>
        </a>
      </li>
      <li>
        <a mat-list-item [routerLink]="['#']" routerLinkActive="router-link-active">
          <mat-icon>account_balance</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>